# ==========================================
# EXPIRY DATE MANAGER - REACT CLIENT ENV
# ==========================================

# Development:
# VITE_API_BASE_URL=http://localhost:5001

# Production:
VITE_API_BASE_URL=https://expiry-date-manager-server-qjsn.onrender.com