# ==========================================
# EXPIRY DATE MANAGER - EXPRESS SERVER ENV
# ==========================================

# Server port
PORT=5001

# Application environment
NODE_ENV=production

# MongoDB Atlas connection
MONGO_URI=mongodb+srv://Quickapp:<Jeevi1234>@cluster0.xb1hgto.mongodb.net/?appName=Cluster0

# JWT authentication secret
JWT_SECRET=d0935d12-2c03-48af-b1e9-d8b1a4adb173

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173

# Backend public URL
SERVER_URL=https://expiry-date-manager-server-qjsn.onrender.com
