# ==========================================
# EXPIRY DATE MANAGER - EXPRESS SERVER ENV
# ==========================================

# Server port
PORT=5001

# Application environment
NODE_ENV=production

# MongoDB Atlas connection
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/expiry-date-manager?retryWrites=true&w=majority

# JWT authentication secret
JWT_SECRET=your_jwt_secret_here

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173

# Backend public URL
SERVER_URL=https://expiry-date-manager-server-qjsn.onrender.com
